.TodoList__elem {
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 2;
    align-items: center;
  } 
  
.TodoList__table{
    display: flex;
    align-items: center;
}
.TodoList__title{
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 2;
    align-items: center;
    padding-right: 70px;
    background-color: #5F5F5F;
    color: #fff;
}
 

  