.App {
  width: 600px;
  margin: 0 auto;
  padding: 30px;
}
.App__form {
  display: flex;
  justify-content: space-between;
}
.App__input {
  border: 2px solid #555555;;
  margin-top:3px;
  height: 30px;
  width: 350px;
  padding: 10px;
  background-color: #F1F1F1;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}
.App__todos{
  padding: 30px 0;
}
.App__form__button {
  height: 38px;
  width: 110px;
  background-color: #4CAF50;
  border: none;
  padding: 10px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-weight: 600;
}
.App__toggle__button{
  height: 24px;
  width: 24px;
  border: none;
}
.App__edit__button{
  height: 38px;
  width: 50px; 
  border: none; 
  background-color: #F1F1F1;
  
}
.App__delete__button{
  height: 38px;
  width: 50px; 
  border: none; 
  background-color: #F1F1F1;
}